body {
    background-color: blueviolet;
  }
  h1 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 65px;
    text-decoration: underline;
  }
p {
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
    color: white;
  }  
  p2 {
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-style: italic;
    color: papayawhip;
  }  
  .center {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
  button {
    background-color: rgb(86, 26, 116);
    font-size: 24px;
    border: none; 
    color: white;
    border-radius: 75px;
  }