body {
    background-color: blueviolet;
  }
  h1 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 65px;
    text-decoration: underline;
  }
p {
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
    color: white;
  }  